GOOGLE_PLACES_API_KEY=
GOOGLE_PLACES_TEXT_QUERY="Sanaa Services 2525 Steinway Street Astoria NY"
GOOGLE_REVIEWS_URL="https://www.google.com/search?q=sanaaservices#lrd=0x89c25f402a398c2d:0x20cbdb6005b7476c,1,,,,"
NEXT_PUBLIC_CONTACT_API_URL=http://localhost:4000/api/contact
